*{
	box-sizing: border-box;
}
body, html {
    height: 95%;
}
body{
	font-family:"New Times Roman";
}

header{
	background-color: #222;
	border:none;
	height:52px;
	position: fixed;
	width: 100%;
    z-index: 1;
}

p{
	color: black;
}

/******header start *******/

.navbar{
	border:none;
}


/******header end *******/





/******body start *******/
.button1 {
    border: none;
    color: white;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #555555;
}

.button1:hover { 
background-color: white;
color:#555555; 
}




.download
{    margin-top: 50px;
    color: grey;   
   text-align: center;
   text-decoration: bold; 
   font-size: 30px;
}



        /**parralax start**/


.parallax {
    /* The image used */
    background-image: url('../images/1.jpg');
    /* Full height */
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax2 {
    /* The image used */
    background-image: url('../images/2.jpg');
    /* Full height */
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax3 {
    /* The image used */
    background-image: url('../images/3.jpg');

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
        /**parralax end**/

.box {
    padding: 20px 0;
    background-color:rgba(0,0,0,0.45);
    font-size:36px;
    line-height: 1em; 
    text-align: center;
    color: #555555;
   

}
.bottom
{   height:200px;
    background-color:#263238;
    padding-top: 10px;
    
}

.bottom h1
{
    color: black;
    text-align: center;
}

/**movie start**/
.movie img
{
    height: 450px;
    display: block; 
     margin: 0 auto;
     margin-top: 60px; 
}

.movie h1
{  margin-top: 50px;
   text-align: center;
}

.movie h5
{  color: grey;   
   text-align: center;
}
.movie h4
{  margin-top: 50px;
    color: grey;   
   text-align: center;
}

.movie p
{  margin-top: 50px;
    color: grey;   
   margin-left: auto;
    margin-right: auto;
    width: 60%;
    font-size: 20px;
}

#main-content{
    position: relative;
    top:40px;
}


        /**movie end**/


        /**slideshow start**/

.slide{
    top:100px;
    margin: 0 10px;
    font-size: 30px;
    color: grey;
}
.spic img{
    margin: 40px auto; 
    width: 100%;
    padding: 0 10px;

}

.slick-prev:before, .slick-next:before{
    color:black;
}

        /**slideshow end**/

