*{
	box-sizing: border-box;
}

body, html {
    height: 95%;

}
body{
	font-family:"New Times Roman";
}

header{
	background-color: #222;
	border:none;
	height:50px;
	position: fixed;
	width: 100%;
    z-index: 1;
}

p{
	color: black;
	margin: 0;
}

/******header start *******/

.navbar{
	border:none;
}


/******header end *******/

/*****Footer*****/

footer{
	background-color: black;
	box-shadow: inset -1px 3px 5px 5px #121212;
}

footer p{
	padding: 30px;
	color: white;
	font-size: 16px;
}

/***footer end *****/

/******body  start *******/

.about{
    padding-top: 30px;
		background-color: #e6e3e3;
		margin: 0;
}

.about h1{
    color: black;
    text-align: center;
		padding-bottom: 20px;
		margin: 0;
}

/**movie start**/

.movie-head h1{
	text-align: center;
	font-family: cursive;
	margin: 40px 0;

}


.movie-body{
	background-color: #d5d3d3;
}


        /**movie end**/


/******** index page ********/

.box { margin-top: -100px;
    padding: 5px 0 20px;
    background-color:rgba(0,0,0,0.54);
    line-height: 1em;
    text-align: center;
    background: -webkit-linear-gradient(#373636, #848484); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#373636, #848484); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#373636, #848484); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#373636, #848484);


}

.box p{

color: white;
	font-size: 20px;
	padding: 20px;

}

.box h1{
	color:white;
	padding: 10px;
}

.box h1{
    margin-top: 0px;
	font-size: 42px;
}




			/******index end ********/
.button1 {
background-color: #eaeaea;
border: none;
color: white;
padding: 16px 30px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
-webkit-transition-duration: 0.4s; /* Safari */
transition-duration: 0.4s;
cursor: pointer;
color: #666666;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

.button1:hover
{
background-color: #666666;
color:white;
border:none;
padding: 16px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
-webkit-transition-duration: 0.4s; /* Safari */
transition-duration: 0.4s;
cursor: pointer;
border-radius: 5px;
}

.parallax {
	/**parralax start**/
    /* The image used */
    background-image: url('../images/1.jpg');
    /* Full height */
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax2 {
    /* The image used */
    background-image: url('../images/2.jpg');
    /* Full height */
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax3 {
    /* The image used */
    background-image: url('../images/3.jpg');

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
        /**parralax end**/



				        /**slideshow start**/

.slideshow{
	position: relative;
	top: 52px;
}

.slide{
    font-size: 30px;
    color: grey;
}

.spic{

}

.ind-cont{
	padding: 10px;
	background-color: white;
	width: 95%;
	margin:0 auto 20px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.slide-head h1{
	font-family: 'Roboto', sans-serif;
	margin:30px 0;
	font-size: 26px;
}

.button{
	text-align: right;
	padding-right: 10px;
	margin-bottom: 10px;
}

.spic img{
    width: 100%;
}

.slick-prev:before, .slick-next:before{
    color:black;
}

				        /**slideshow end**/
.movie-body{
    padding-bottom: 50px;
    background: red;
    background: -webkit-linear-gradient(red, yellow);
    background: -o-linear-gradient(red, yellow);
    background: -moz-linear-gradient(red, yellow);
    background: linear-gradient(#7d7d7d, #cdcdcd);
}

.list{
    margin-top:80px;
}


.list img{
    width: 90%;
}


@media only screen and (max-width: 780px) {
    .slideshow {
        margin:0 20px;

    }
    .container{
        width: 90%;
        margin: 0 auto;
    }
}

/* scroll down **/
.dscroll img{
	position: relative;
	margin-left: 85%;
	height: 30px;
	width: 30px;
}
/*scroll down ends*/
/***Movie-det****/

#main-content{
    padding-top: 50px;
    background: -webkit-linear-gradient(#7d7d7d, #cdcdcd);
    background: -o-linear-gradient(#7d7d7d, #cdcdcd);
    background: -moz-linear-gradient(#7d7d7d, #cdcdcd);
    background: linear-gradient(#7d7d7d, #cdcdcd);
}

.movie{
    margin-top: 20px;
    background-color: white;
    -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
position: relative;
padding: 30px;

}

.rating p{
    
    color: #959507;
    font-size: 24px;

}

.mov-des p{
    font-size: 20px;
}

.download button{
    font-size:25px; 
}
.download {
    padding: 20px 0; 
}

.movie img{
    width: 100%;
}

.det-list{
    margin-top: 20px;
}

.movie-title h1{
    margin-top: 5px; 
}

.det-list p{
    line-height: 30px;
    font-family: Arial;
}
